<a href="https://colab.research.google.com/github/JosefridahMwende/Moringa_School_Projects/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2019_11_08_Josefridah_Mwende_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#importing the required libraries
import pandas as pd
import numpy as np
import seaborn as sns
import pandas_profiling as pp
import matplotlib.pyplot as plt

In [0]:
#reading and reviewing the dataset
Autolib = pd.read_csv('Autolib_dataset (2).csv', encoding='latin1')
Autolib.iloc[:5]

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3          51 Rue EugÃÂ¨ne OudinÃÂ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [0]:
#getting to know more about our dataset
print(Autolib.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
Address                5000 non-null object
Cars                   5000 non-null int64
Bluecar counter        5000 non-null int64
Utilib counter         5000 non-null int64
Utilib 1.4 counter     5000 non-null int64
Charge Slots           5000 non-null int64
Charging Status        5000 non-null object
City                   5000 non-null object
Displayed comment      111 non-null object
ID                     5000 non-null object
Kind                   5000 non-null object
Geo point              5000 non-null object
Postal code            5000 non-null int64
Public name            5000 non-null object
Rental status          5000 non-null object
Scheduled at           47 non-null object
Slots                  5000 non-null int64
Station type           5000 non-null object
Status                 5000 non-null object
Subscription status    5000 non-null object
year                   5000 non-null int64
month                  5000 non-null int64
day                    5000 non-null int64
hour                   5000 non-null int64
minute                 5000 non-null int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB
None

In [0]:
#standardization and fixing messy errors
Autolib.columns = Autolib.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
Autolib.iloc[:5]

                              address  cars  bluecar_counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3          51 Rue EugÃÂ¨ne OudinÃÂ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [0]:
#checking for null values and dropping unnecessary columns
Autolib.isna().sum()

address                   0
cars                      0
bluecar_counter           0
utilib_counter            0
utilib_1.4_counter        0
charge_slots              0
charging_status           0
city                      0
displayed_comment      4889
id                        0
kind                      0
geo_point                 0
postal_code               0
public_name               0
rental_status             0
scheduled_at           4953
slots                     0
station_type              0
status                    0
subscription_status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [0]:
# dropping unnecessary columns
Autolib.drop(['displayed_comment','scheduled_at',], axis=1, inplace=True)
Autolib.iloc[:5]

                              address  cars  bluecar_counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3          51 Rue EugÃÂ¨ne OudinÃÂ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 23 columns]

In [0]:
#checking for duplicate values and dropping duplicates
Autolib.duplicated()
Autolib.drop_duplicates(keep = False, inplace = True)
Autolib.shape

(5000, 23)

In [0]:
#confirming that there are no null values
np.count_nonzero(Autolib.isnull())

0

In [0]:
#understanding unique values of the dataset
print(Autolib['status'].unique().tolist())
print(Autolib['rental_status'].unique().tolist())
print(Autolib['subscription_status'].unique().tolist())
print(Autolib['kind'].unique().tolist())
print(Autolib['charging_status'].unique().tolist())
print(Autolib['station_type'].unique().tolist())
print(Autolib['status'].unique().tolist())

['ok', 'closed', 'scheduled']
['operational', 'broken', 'future', 'nonexistent']
['nonexistent', 'operational', 'broken']
['STATION', 'PARKING', 'SPACE', 'CENTER']
['nonexistent', 'operational', 'broken']
['station', 'full_station', 'subs_center']
['ok', 'closed', 'scheduled']

In [0]:
#making sure the city is Paris
Autolib_Paris = Autolib[(Autolib['city'] == "Paris")]
Autolib_Paris

                                 address  cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
3             51 Rue EugÃÂ¨ne OudinÃÂ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
5                   8 Boulevard Voltaire     0  ...     7       2
...                                  ...   ...  ...   ...     ...
4992                     3 avenue d'Ivry     0  ...    23       1
4994                    15 rue de Rocroy     0  ...    20      49
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4999                 5 Rue Henry Brisson     4  ...    10       2

[2816 rows x 23 columns]

In [0]:
#merging the year,month,day,,hour, minute columns into one
Autolib_Paris['Timestamp'] = pd.to_datetime(Autolib_Paris[['day','month','year','hour','minute']])
Autolib_Paris

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                                 address  cars  ...  minute           Timestamp
0                    2 Avenue de Suffren     0  ...      43 2018-04-08 11:43:00
1              145 Rue Raymond Losserand     6  ...      24 2018-04-06 07:24:00
3             51 Rue EugÃÂ¨ne OudinÃÂ©     3  ...      37 2018-04-04 04:37:00
4     6 avenue de la Porte de Champerret     3  ...      23 2018-04-08 17:23:00
5                   8 Boulevard Voltaire     0  ...       2 2018-04-06 07:02:00
...                                  ...   ...  ...     ...                 ...
4992                     3 avenue d'Ivry     0  ...       1 2018-04-09 23:01:00
4994                    15 rue de Rocroy     0  ...      49 2018-04-01 20:49:00
4996                   37 rue de Dantzig     4  ...      56 2018-04-04 16:56:00
4997                      142 rue du Bac     1  ...       1 2018-04-01 07:01:00
4999                 5 Rue Henry Brisson     4  ...       2 2018-04-08 10:02:00

[2816 rows x 24 columns]

In [0]:
#grouping using id and timestamp and hour
Autolib_Paris =  Autolib_Paris.sort_values(['Timestamp']).groupby(['id','Timestamp','hour']).sum()
Autolib_Paris

                                             cars  bluecar_counter  ...  day  minute
id                 Timestamp           hour                         ...
paris-25aout1944-8 2018-04-01 18:40:00 18       1                1  ...    1      40
                   2018-04-02 07:37:00 7        4                4  ...    2      37
                   2018-04-02 12:49:00 12       2                2  ...    2      49
                   2018-04-04 03:10:00 3        3                3  ...    4      10
                   2018-04-04 18:48:00 18       1                1  ...    4      48
...                                           ...              ...  ...  ...     ...
paris-yvestoudic-3 2018-04-04 13:32:00 13       0                0  ...    4      32
                   2018-04-05 14:36:00 14       0                0  ...    5      36
                   2018-04-06 04:48:00 4        0                0  ...    6      48
                   2018-04-07 03:48:00 3        0                0  ...    7      48
                   2018-04-09 00:24:00 0        0                0  ...    9      24

[2816 rows x 11 columns]

In [0]:
#Identify the most popular hour of the day for picking up a shared electric car (Bluecar) 
# in the city of Paris over the month of April 2018
Autolib_Paris['diff'] = Autolib_Paris.groupby(['id'])['bluecar_counter'].apply(lambda x:  x.shift(1) - x)
Autolib_Paris['diff']
Autolib_Paris.iloc[:10]

                                             cars  ...  diff
id                 Timestamp           hour        ...
paris-25aout1944-8 2018-04-01 18:40:00 18       1  ...   NaN
                   2018-04-02 07:37:00 7        4  ...  -3.0
                   2018-04-02 12:49:00 12       2  ...   2.0
                   2018-04-04 03:10:00 3        3  ...  -1.0
                   2018-04-04 18:48:00 18       1  ...   2.0
                   2018-04-07 21:18:00 21       1  ...   0.0
                   2018-04-09 05:23:00 5        0  ...   1.0
                   2018-04-09 20:53:00 20       1  ...  -1.0
paris-adolphemax-6 2018-04-02 11:01:00 11       4  ...   NaN
                   2018-04-07 16:47:00 16       0  ...   4.0

[10 rows x 12 columns]

In [0]:
#negative diff means returning and positive difference means picking up
#Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018
Autolib3  = Autolib_Paris[(Autolib_Paris['diff'] > 0)].groupby(['hour'])['diff'].sum().sort_values(ascending = False)
Autolib3.iloc[:1]

hour
21    109.0
Name: diff, dtype: float64

In [0]:
# What is the most popular hour for returning cars?
Autolib4  = Autolib_Paris[(Autolib_Paris['diff'] < 0)].groupby(['hour'])['diff'].sum().sort_values(ascending = True)
Autolib4.iloc[:1]

hour
12   -104.0
Name: diff, dtype: float64

In [141]:
#most popular station
Autolib_Paris['diff1'] = Autolib_Paris['diff'].abs()
Autolib_Paris.groupby(['id'])['diff1'].sum().sort_values(ascending = False).iloc[:1]

id
paris-portedemontrouge-8    36.0
Name: diff1, dtype: float64

In [0]:

Autolib_Paris.groupby(['hour'])['diff1'].sum().sort_values(ascending = False).iloc[:1]